﻿@model IEnumerable<Server.REST.DTO.TestDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Print", "Print", new { item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                @Html.ActionLink("Questions", item.Id.ToString(), new { id = "Questions" }) |
                @Html.ActionLink("Delete", "Delete", new { item.Id })
            </td>
        </tr>
    }
</table>